/** Layout 相关 */
.app-wrapper {
    color: $font-color;
    background-color: lighten($theme-bg-color, 2%) !important;
    // background-color: $theme-bg-color;

    .navigation-bar {
        color: $font-color;
        background-color: lighten($theme-bg-color, 2%) !important;
        // background-color: $theme-bg-color;
    }

    .app-main {
        color: $font-color;
        background-color: lighten($theme-bg-color, 2%) !important;
        // background-color: $theme-bg-color;
    }

}
