@import "./transition.scss";
// 注册多主题
@import "./theme/register.scss";
// reset
@import "./reset.scss";
// markdown
@import "./prose.scss";
@import "./markdown.scss";
// noprogress
@import "./noprogress.scss";
// scrollbar
@import "./scrollbar.scss";

@import "./viewTransition.scss";

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-noprogress-color: #d0d0d0;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --c-bg: #151515;
  --c-scrollbar: #535353;
  --c-scrollbar-hover: #aeaeae;
  --c-noprogress-color: #d0d0d0;
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::selection {
  background: #8884;
}

.sponsorkit-avatar {
  cursor: pointer;
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 30ms;
    --enter-initial: 0ms;
    animation: slide-enter 0.5s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  // .slide-enter-content > *:nth-child(n) {
  //   --enter-stage: var(--enter-stages[content.childNodes[n - 1]]);
  // }
}
